<header
	class="border-bottom ">


	<!--           barre de nav desktop                           -->
	<div class="px-3 py-2  text-white d-none d-sm-block">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
					<img src="./assets/home/picture/logo.png"  alt="image d'ecrans divers"/>
				</a>
				<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
					<li>
						<a href="/" class="nav-link {% if activeNav == 'home' %}bg-primary rounded text-white  {% else %}text-white{% endif %}">
						
								<use xlink:href="#home"></use>
							</svg>
							<b>Accueil</b>
						</a>
					</li>
					<li>
						<a href="/cv" class="nav-link {% if activeNav == 'cv' %}bg-primary rounded text-white{% else %}text-white{% endif %}">
						
								<use xlink:href="#speedometer2"></use>
							</svg>
							<b>CV</b>
						</a>
					</li>
					<li>
						<a href="/porteFolio" class="nav-link  {% if activeNav == 'portfolio' %}bg-primary rounded text-white{% else %}text-white{% endif %}">
				
								<use xlink:href="#table"></use>
							</svg>
							<b>Portfolio</b>
						</a>
					</li>
					<li>
						<a href="/contact" class="nav-link  {% if activeNav == 'contact' %}bg-primary rounded text-white{% else %}text-white{% endif %}">
							
								<use xlink:href="#grid"></use>
							</svg>
							<b>Contact</b>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!--            barre de nav responsiv                         -->
	<div class="pos-f-t  d-block d-sm-none">
		<div class="collapse" id="navbarToggleExternalContent">
			<div class="bg-dark p-4">
				<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
					<li>
						<a href="/" class="nav-link {% if activeNav == 'home' %}bg-primary rounded text-white{% else %}text-white{% endif %}">
					
								<use xlink:href="#home"></use>
							</svg>
							<b>Accueil</b>
						</a>
					</li>
					<li>
						<a href="/cv" class="nav-link {% if activeNav == 'cv' %}bg-primary rounded text-white{% else %}text-white{% endif %}">
					
								<use xlink:href="#speedometer2"></use>
							</svg>
							<b>CV</b>
						</a>
					</li>

					<li>
						<a href="/porteFolio" class="nav-link  {% if activeNav == 'portfolio' %}bg-primary rounded text-white{% else %}text-white{% endif %}">
						
								<use xlink:href="#table"></use>
							</svg>
							<b>PortFolio</b>
						</a>
					</li>
					<li>
						<a href="/contact" class="nav-link  {% if activeNav == 'contact' %}bg-primary rounded text-white{% else %}text-white{% endif %}">
						
								<use xlink:href="#grid"></use>
							</svg>
							<b>Contact</b>
						</a>
					</li>

				</ul>
			</div>
		</div>

		<nav class="navbar navbar-dark bg-dark">

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
	</div>
</header>
