<header class="border-bottom">
	<div class="px-3 py-2 bg-white text-white">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
					<img src="./assets/home/picture/logo.png" alt=""/>
				</a>
				<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
					<li>
						<a href="/" class="nav-link {% if activeNav == 'home' %}text-secondary{% else %}text-black{% endif %}">
							<svg class="bi d-block mx-auto mb-1" width="24" height="24">
								<use xlink:href="#home"></use>
							</svg>
							Accueil
						</a>
					</li>
					<li>
						<a href="/cv" class="nav-link {% if activeNav == 'cv' %}text-secondary{% else %}text-black{% endif %}">
							<svg class="bi d-block mx-auto mb-1" width="24" height="24">
								<use xlink:href="#speedometer2"></use>
							</svg>
							CV
						</a>
					</li>

					<li>
						<a href="/porteFolio" class="nav-link text-black {% if activeNav == 'portfolio' %}text-secondary{% else %}text-black{% endif %}">
							<svg class="bi d-block mx-auto mb-1" width="24" height="24">
								<use xlink:href="#table"></use>
							</svg>
							PorteFolio
						</a>
					</li>
					<li>
						{% if currentFile == contact %}
							<a href="/contact" class="nav-link text-black">
							{% else %}
								<a href="/contact" class="nav-link text-secondary">
								{% endif %}
								<svg class="bi d-block mx-auto mb-1" width="24" height="24">
									<use xlink:href="#grid"></use>
								</svg>
								Contact
							</a>
						</li>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
