<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="description" content="Portfolio  samy CHABANI">
		<meta name="keywords" content="a propos de moi, Portfolio">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- displays site properly based on user's device -->
		<meta name="author" content="Samy CHABANI">
		<link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/3135/3135788.png"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="./assets/main.css"/>
		<link rel="stylesheet" href="./assets/template.css"/>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Accueil</title>
	</head>
	<body
		class="d-flex flex-column min-vh-100 justify-content-between">
		<!-- header -->
		{% include "header.twig" with { 'activeNav' : 'home'} %}
		<main id="animation">
			<div class="row container-fluid m-0">
				<section id="grandEcran" class="row mx-auto col-12 col-md-6">
					<div id="ecran" class=" col-7 mx-auto d-flex align-items-center justify-content-center">
						<div id="initText" class="initText col-12 mx-auto">
							<p class="text-black  headerWindow"><img src="./assets/home/picture/test.png" height="20" width="15" alt="img">Cv portfolio - C:\User...</p>
							<p class="text-success">C:\Users\Bureau\portFolio</p>
							<p id="myText" class="ms-1"></p>
						</div>
					</div>
				</section>
				<section id="aPropos" class="col-12 mx-auto col-md-6 ">
					<h1 class="text-center text-white">A propos de moi</h1>
					<div></div>
					<div class="mx-auto col-5">
						<img class="w-100 mx-auto" src="./assets/home/picture/Moi.png" alt="photo de moi">
					</div>
						<p class="h4 text-white">Curieux et ambitieux, je souhaite poursuivre mon parcours professionnel dans le domaine informatique.</p>
						<p class="h4 text-white">A l'aise devant un ordinateur et fort de mes expériences passées, </p>
						<p class="h4 text-white">mon but à ce jour est de mettre en pratiques mes compétences acquises pour ainsi débuter une carrière de Développeur WEB.</p>
				</section>
			</div>
		</main>
		<!-- footer -->
		{% include "footer.twig" %}
		<script src="/assets/js/main.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</body>
</html></body></html>
