html, body {
    height: 100%;
    font-family: Consolas;
    font-weight: bold;
    overflow-x: hidden;
}

main {
    background-color: black;
    color: white;
}

main img {
    color: red;
}

.description {
    color: #0fa437;
}

.class {
    color: #3BB143;
}

.objet {
    color: #1f8eed;
}

.h2size {
    font-size: 1.5em;
}

.while {
    color: #9e6cc2;
}

.string {
    color: rgb(195, 139, 66);
}

.number {
    color:rgb(122, 185, 122) ;
}

.function {
    color: rgb(223, 223, 97);
}

.const{
    color: blue;
}

.variable{
    color: #95C8D8;
}

aside{
    background-color: rgb(29, 28, 28);
}

body{
    background-color: black;
}

.crochet{
    color: rgb(46, 44, 44);
}

.stringHtml{
    color: white;
}

aside div {
    position: sticky;
}


aside ul li {
    display: flex;
    align-items: center;
}

