@media (max-width: 600px) {
    #initText {
        overflow-x: hidden;
        height: 135px;
        width: 187px;
        font-size: 12px;

    }
}



#initText {
   font-family: Consolas;
    display: none;
    background-color: black;
    color: white;
    overflow: scroll;
    padding-bottom: 7px;
    overflow-x: hidden;

}

.headerWindow {
    background-color: white;
}

.headerWindow img {
    width: 20px;
    margin: 3px;
}

#grandEcran {
    background: url('home/picture/pcFace.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#ecran {
    height: 540px;

}

#myText::first-letter {
    color:rgb(29, 28, 28);
}

