<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
       <link rel="stylesheet" href="./assets/cv.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CV</title>
  </head>
  <body class="d-flex row">
     {% include "../nav/_nav.html.twig" %}
    <main class="col-md-9 col-sm-12">

      <section class="ms-lg-5 mt-lg-5 mt-3 ms-2">
        <article class="">
          <h1 class=""><span class="class">Samy CHABANI<span class="text-white">{</span></span></h1>
          <article>
            <h3 class="mb-2 ms-1"><span class="objet">COORDONEES </span>= {</h3>
            <p>
              <span class="variable ms-2">àge:</span><span class="number"> 27 ans </span> ,<br />
              <span class="variable ms-2">véhicule:</span><span class="string"> Permis B</span> ,<br />
              <span class="variable ms-2">numéro:</span
              ><span class="number ms-2"> 06 41 31 72 51</span> ,<br />
              <span class="variable ms-2">mail:</span
              ><span class="string ms-2"> s.chabani13@gmail.com</span> ,<br />
              <span class="variable ms-2">adresse :</span
              ><span class="string ms-2"> 4, boulevard Sylvestre 13012 Marseille</span>
              <span class="h2size">}</span>
            </p>
          </article>

          <article class="mb-2">
            <h3 class="mb-2">
              <span class="while ms-1">INTERETS</span
              ><span class="h4">
                ( <span class="variable">moi</span> === <span class="variable">moi</span> ) {</span
              >
            </h3>
            <p>
              <span class="variable ms-2">console</span>.<span class="function">log</span>( <br />
              <span class="string ms-2">- Suivi de l'actualité </span>+ <br />
              <span class="string ms-2">- Documentaires</span> +<br />
              <span class="string ms-2">- Voyages </span>+<br />
              <span class="string ms-2">- Chasse sous marine</span> )<span class="h4">
                }</span
              >
            </p>
            <h1 class="text-white" >}</h1>
          </article>
        </article>

      </section>
    </main>
      <script
    src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
  </body>

</html>
