    <aside class="col-md-3 col-sm-12 ">
      <div class="col-2 mx-auto navIfram  mt-lg-5 mt-3  ms-2 ">
        <ul class="nav  flex-column ">
        <li class="nav-item">
        <h6 class="ms-1 text-white">	&#8250; CV</h6>
        </li>
          <li class="nav-item">
          
          <img class="" src="./assets/home/picture/nodejs.png" width="20" alt="JavaScript">
            <a class="nav-link text-white" href="/homCv">information.Json</a>
          </li>
          <li class="nav-item">
          <img class="" src="./assets/home/picture/js.png" width="20" alt="JavaScript">
            <a class="nav-link text-white" href="/moi">Moi.js</a>
          </li>
          <li class="nav-item">
          <img class="" src="./assets/home/picture/js.png" width="20" alt="JavaScript" />
            <a class="nav-link text-white" href="/competence">Compétences.js</a>
          </li>
          <li class="nav-item">
          <img class="" src="./assets/home/picture/js.png" width="20" alt="JavaScript">
            <a class="nav-link text-white" href="/experience">Experiences profesionnelles.js</a>
          </li>
          <li class="nav-item">
          <img class="" src="./assets/home/picture/js.png" width="20" alt="JavaScript">
            <a class="nav-link text-white" href="/formation">Formations.js</a>
          </li>
        </ul>
      </div>
    </aside>